.element__like {
  padding: 0px;
  margin-bottom: 5px;
  width: 22px;
  height: 19px;
  border: 0;
  background-image: url(../../../image/element__like.svg);
  background-color: white;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}

.element__like:active {
  background-image: url(../../../image/element__like_active.svg);
  opacity: 1;
}
