.popap__input {
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.popap__input:first-of-type {
  margin: 40px 0 0 0;
  padding: 8px 0;
}

.popap__input:last-of-type {
  margin: 23px 0 0 0;
  padding: 8px 0;
}

@media screen and (max-width: 620px) {
  .popap__input:first-of-type {
    margin: 67px 0 0 0;
  }
}
