.profile__info {
  display: grid;
  max-width: 336px;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, max-content);
  row-gap: 8px;
  column-gap: 18px;
  grid-template-areas:
    "title edit"
    "subtitle .";

  margin: 0 auto 0 30px;
}

@media screen and (max-width: 920px) {
  .profile__info {
    row-gap: 0px;
    column-gap: 10px;
    margin: 12px auto 0;
    padding-left: 26px;
  }
}
